.judged_dialog_box {
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1200;
}
.judged_dialog_content {
	min-width: 360px;
    min-height: 182px;
    background: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
}
.judged_content_box,
.judged_btns_box {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.judged_txt_box {
	padding: 42px 0;
	text-align: center;
}
.small_txt,
.small_txt {
	color: #333;
	line-height: 24px;
}
.small_txt {
	font-size: 14px;
}
.big_txt {
	font-size: 18px;
}
.judged_btns_box {
	text-align: center;
}
.judged_btn {
	display: inline-block;
	width: 108px;
    height: 36px;
    line-height: 34px;
    color: #333;
    font-size: 14px;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 24px 0;
}
.save_btn {
	color: #fff;
    background: #2f9dd5;
    border: 1px solid #2f9dd5;
}
.cancle_btn {
	color: #666;
    background: #fff;
    border: 1px solid #ccc;
    margin-left: 18px;
}