.judgment_delete_content {
	text-align: center;
}
.txt_1 {
	color: #222222;
	font-size: 16px;
	font-weight: bold;
	margin: 40px auto 20px;
}
.txt_2 {
	color: #222222;
	font-size: 14px;
	margin-bottom: 20px;
}